h1{
    text-align: left;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
.my-container{
  border: 1px solid black;
  background:white;

}
.my-row{
  border: 2px solid black;

}
.my-col {
  border: 2px solid black;

}
body {
background-image: url("img/grass.jpg");

}

.custom-center {
    margin: auto;
}
h2{ text-align: center;

}
.custom-right{
    margin: left;
}